# .env.example

# Example environment variables, adjust as needed

# Database credentials
POSTGRES_USER={db_user}
POSTGRES_PASSWORD={db_password}
POSTGRES_DB={db_name}

# Ports
CONTAINER_DB_PORT=5432
FORWARDED_DB_PORT=5431
